/report
/output
/figs
/data
/docs
*.DS_Store
/scripts/*html
/scripts/*/figs/*
/scripts/*/data/*
/scripts/*/*html
/scripts/*/*/*html
/scripts/MG_fast/*
/scripts/Rmd/*/dada/*
/scripts/*/doc/*
/scripts/quast/*
/scripts/Rmd/*/data/*
/scripts/*/software/*
*.snakemake
*.ipynb_checkpoints
/scripts/*/softwares/*
scripts/dada2_pipeline/16S-dada2/*
.Rproj.user
slides_and_videos/*
