/report
/output
/figs
/data
*.DS_Store
/scripts/*html
/scripts/*/figs/*
/scripts/*/data/*
/scripts/*/*html
/scripts/*/*/*html
/scripts/MG_fast/*
/scripts/Rmd/*/dada/*
/scripts/*/doc/*
/scripts/Rmd/*/data/*
